
@media (min-width: 560px) {
   .nav-toggle-label {
      display: none;
   }
   
   header {
      display: grid;
      grid-template-columns: 1fr auto minmax(460px, 2fr) 1fr;
   }
   
   #header-img {
      grid-column: 2 / 3;
   }
   
   nav {
      all: unset;  /* takes out every styling I've done above for this element */
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
  
   nav ul {
      display: flex;
      justify-content: flex-end;
     /* border: solid red; */
   }
   
   nav li {
      margin-left: 3rem;
      margin-bottom: 0;
   }
   
   nav a {
      position: relative;
   }
   
   nav a:hover:after {
      content: '';
      display: block;
      height: 3px;
      border-radius: 3px;
      background: var(--m-green);
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      right: 0;
   }
      
}
html {
 font: 1em, 'Gochi Hand', serif;
}

h1 {
  font-size: 1em;
	margin:auto;
}

h2 {
  font-size: .75em;
	margin:auto;
}

h3 {
  font-size: .5em;
	margin:auto;
}

p {
  font-size: .5em;
	margin:auto;
}
	
section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
		
}	
	
section .content {
	margin:1em;
     }
	
.svg-container, 
.svg-container iframe {
  height: 250px;
width: 250px;
	background: url(rsz_experiencedesignson.png) no-repeat center center;
	margin: 1em;

/*  	.Flex-Grid {
display:flex;
flex-direction:row;
justify content: space-between;
align-items:center;
}

.flexy1{
	flex-basis: 25%;
	}
	
.flexy2{
	flex-basis:25%;

	}
	
.flexy3 {
flex-basis: 25%;
} 
	 */
}
/*************************mobile ham ends *******************************/



/******************************** TABLETS *******************************/

@media (min-width:561px) and (max-width:1025px) {

html {
	font: 16px 'Gochi Hand', serif;
	margin:auto;
}

h1 {
  font-size: 1em;
	margin:auto;
}

h2 {
  font-size: .75em;
	margin:auto;
}

h3 {
  font-size: .75em;
	margin:auto;
}

p {
  font-size: .50em;
	margin:auto;
}
section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
		
}	
	
section .content {
	margin: auto;
     }
	
.svg-container, 
.svg-container iframe {
  height: 400px;
width: 400px;
	background: url(rsz_experiencedesignson-2.png) no-repeat center center;
	margin: auto;
}
	
	.Flex-Grid {
display:flex;
flex-direction:row;
justify content: space-between;
align-items:center;
}

.flexy1,
.flexy2,
.flexy3 {
flex-grow: 1;
}

}
/******************************** DESKTOPS ******************************/
@media (min-width:1026px){
	

html {
	font: 20px 'Gochi Hand', serif;
	margin:auto;
}

h1 {
  font-size: 2em;
	margin:auto;
}

h2 {
  font-size: 1em;
	margin:auto;
}

h3 {
  font-size: 1em;
	margin:auto;
}

p {
  font-size: .75em;
	margin:auto;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
		
}	
	
section .content {
	flex-grow:1;
     }
	
.svg-container, 
.svg-container iframe {
  height: 800px;
width: 800px;
	background: url(rsz_experiencedesignson-2.png) no-repeat center center;
	
}
	.flexy1,
	.flexy2,
	.flexy3 {
	display: flex;
	flex-direction:row;
		flex-wrap: wrap;
	justify-content: space-between;
		align-items: center;
		
	}
	
	.icon{
	flex-grow:1;
	}
}
