@media only screen and (max-width: 560px) {
  
	
html {
 font: 1em, 'Gochi Hand', serif;	
}

 h1 {
  font-size: 1em;
	margin:auto;
}

h2 {
  font-size: .75em;
	margin:auto;
}

h3 {
  font-size: .5em;
	margin:auto;							/*mobile responsiveness for section pages only.*/
}

 p {
  font-size: .5em;
	margin:1em;
}
	
section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border:solid red;	
}	
	
section .content {
	margin:1em;
     }
	
.svg-container, 
.svg-container iframe {
  height: 250px;
width: 250px;
	background: url(rsz_experiencedesignson.png) no-repeat center center;
	margin: 1em;


	}
}

@media only screen and (min-width: 561px) and (max-width: 1025px) {
   
.nav-toggle-label {
      display: none;
   }
   
   header {
      display: grid;
      grid-template-columns: 1fr auto minmax(460px, 2fr) 1fr;
   }
   
   #header-img {
      grid-column: 2 / 3;
   }
   
   nav {
      all: unset;  /* takes out every styling I've done above for this element */
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
	   border: solid purple;
   }
  
   nav ul {
      display: flex;
      justify-content: flex-end;
     /* border: solid red; */
   }
   
   nav li {
      margin-left: 3rem;
      margin-bottom: 0;
   }
   
   nav a {
      position: relative;
   }
   
   nav a:hover:after {
      content: '';
      display: block;
      height: 3px;
      border-radius: 3px;
      background: var(--m-green);
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      right: 0;
   }
    
	html {
	font: 1em, 'Gochi Hand', serif;
	margin:auto;
}

h1 {
  font-size: 1em;
	margin:auto;
}

h2 {
  font-size: .75em;
	margin:auto;
}

h3 {
  font-size: .75em;
	margin:auto;
}

p {
  font-size: .50em;
	margin:1em;
}
section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border:solid purple;	
}	
	
section .content {
	margin: auto;
     }
	
.svg-container, 
.svg-container iframe {
  height: 400px;
width: 400px;
	background: url(rsz_experiencedesignson-2.png) no-repeat center center;
	margin: auto;
}
	
.Flex-Grid {
display:flex;
flex-direction:row;
justify content: space-between;
align-items:center;
	border:solid purple;
}

.flexy1,
.flexy2,
.flexy3 {
flex-grow: 1;
}

}



/******************************** DESKTOPS ******************************/
@media only screen and(min-width:1026px) {
	
.nav-toggle-label {
      display: none;
   }
   
   header {
      display: grid;
      grid-template-columns: 1fr auto minmax(460px, 2fr) 1fr;
   }
   
   #header-img {
      grid-column: 2 / 3;
   }
   
   nav {
      all: unset;  /* takes out every styling I've done above for this element */
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
	   border: solid purple;
   }
  
   nav ul {
      display: flex;
      justify-content: flex-end;
     /* border: solid red; */
   }
   
   nav li {
      margin-left: 3rem;
      margin-bottom: 0;
   }
   
   nav a {
      position: relative;
   }
   
   nav a:hover:after {
      content: '';
      display: block;
      height: 3px;
      border-radius: 3px;
      background: var(--m-green);
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      right: 0;
   }
    
html {
	font: 1.2em, 'Gochi Hand', serif;
	margin:auto;
}

h1 {
  font-size: 2em;
	margin:auto;
}

h2 {
  font-size: 1em;
	margin:auto;
}

h3 {
  font-size: 1em;
	margin:auto;
}

p {
  font-size: .75em;
	margin:1em;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border:solid blue;	
}	
	
section .content {
	flex-grow:1;
     }
	
.svg-container, 
.svg-container iframe {
  height: 800px;
width: 800px;
	background: url(rsz_experiencedesignson-2.png) no-repeat center center;
	margin: auto;
	
}
	.flexy1,
	.flexy2,
	.flexy3 {
	display: flex;
	flex-direction:row;
		flex-wrap: wrap;
	justify-content: space-between;
		align-items: center;
		
	}
	
	.icon{
	flex-grow:1;
	}
}
