/*Typography*/

html {
  font: 26px 'Gochi Hand', serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

/*BASE*/
html,
body {
  width: 320px;
  height: 100%; 
  max-width: 50%;
	
	
}

/*Layout*/
* {
  box-sizing: border-box;
}

/*Navigation*/
nav {
position: absolute;
 /*position: relative;*/
  left: -12em;
  width: 20%;
  height: 100%;
  background: #b3c100;   /*lime green*/
  font-family: 'Gochi Hand', sans-serif;
  transition: left .85s linear;
}

.nav ul {
  float: left;
  width: 100%;
}

.nav a,
.fa-bars,
.soc-media a {
  display: block;
  color:  #34675c;
  font-weight: bold;
	text-align: center;
  text-decoration: none;
  transition: background .35s;
}
.nav a:hover,
.fa-bars:hover,
.soc-media a:hover {
  background: #b7b8b6;
}
.nav a:active,
.fa-bars:active,
.soc-media a:active {
  background: #b7b8b6;
}

.nav a {
  padding: 1em .5em;
  width: 50%;
}

.fa-bars {
  position: absolute;
  left: 0em;
  padding: 1em 0;
  z-index: 99;
  width: 10%;
  background: #b3c100;
  text-align: center;
  transition: left .75s ease-in-out;
}
.fa-bars:hover {
  cursor: pointer;
}

[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked + label {
  left: 3em;
}
[type="checkbox"]:checked ~ nav {
  left: 0;
}

/*Social media*/
.soc-media {
  position: absolute;
  bottom: 1px;
}

.soc-media li {
  float: left;
}

.soc-media a {
  padding: .5em 0;
  width: 10%em;
  font-weight: normal;
  text-align: center;
}

/*Page Wrapper*/
.wrapper {
position: absolute; 
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #b3c100;
  
}

.wrapper > h1 {
position: relative; 
  bottom: 15%;
  width: 100%;
  color:  #873370;
  font-size: 6em;
  text-align: center;
}

 
.overlay {
  width: 100%;
  height: 100%;
 background: rgba(255, 255, 255, 0.2);
	
}

/*Pages*/
section {
  position: absolute; 
  top: 0;
  width: 0;
  height: 100%;
/*z-index: 1;*/	
  overflow: scroll;
  transition: all .75s;
}
 
:target {
  width: 100%;
}

section .content {
  margin: 1em auto;
  max-width: 300px;
  width: 60%;
  color: #873370;
}

section h1,
section h2,
section h3 {
  margin-bottom: .5em;
  text-align: center;
}

section p {
  margin: .5em 0;
  font-family: 'Gochi Hand';
}

/*Home page*/
/*About page*/
.summary {
 background: #b3c100;	
  /*background: rgba(255, 255, 255, 0.75);*/
}

.svg-container, 
.svg-container iframe {
  position: absolute;	
  margin: auto;
  width: 300px;
  height: 300px;
  background: url(experiencedesignson.png) no-repeat center center;
  border: 0.5em solid #2d9cbd;
 
  border-radius: 50%;
  overflow: hidden;
}

.experience {
 background: #b3c100;	
  /*background: rgba(255, 255, 255, 0.75);*/
}

.svg-container, 
.svg-container iframe {
  position: absolute;	
  margin: auto;
  width: 300px;
  height: 300px;
  background: url(experiencedesignson.png) no-repeat center center;
  border: 0.5em solid #2d9cbd;
 border-radius: 50%;
  overflow: hidden;
}

/*Gallery page
is a bootstrap grid*/


/*Contact page*/
.contact {
background: #b3c100;

} 
			


/*   media queries */


@media screen and (min-width: 500px) and (max-width: 600px)  { 
  section h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  section h1 {
    font-size: 32px;
  }
}


/* Nav
******************************************/

nav li {    
  padding: 25px;
  width: 100%;
  text-align:center;
  box-sizing: border-box;
  font-size: 21px;
}

nav li:nth-child(1) { background-color: #C7C7C7 }
nav li:nth-child(2) { background-color: #E7E7E7 }
nav li:nth-child(3) { background-color: #F7F7F7 }
nav li:nth-child(4) { background-color: #D7D7D7 }


@media screen and (min-width: 768px)  { 
  nav li {
    float: left;
    padding: 25px;
    width: 25%;
    text-align:center;
    font-size: 16px;
  }
}


/* Article
******************************************/

section p {
  padding: 10px;
  box-sizing: border-box;
  font-size: 21px;
}

@media screen and (min-width: 768px)  { 
  section p {
    float: left;
    width: 50%;
    font-size: 16px;
  }
}	
