/*Typography*/

html {
  font: 26px 'Gochi Hand', serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

/*BASE*/
html,
body {
  width: 100%;
  height: 100%;
	
}

/*Layout*/
* {
  box-sizing: border-box;
}

/*Navigation*/
nav {
position: absolute;
 /*position: relative;*/
  left: -12em;
  width: 6em;
  height: 100%;
  background: #b3c100;   /*lime green*/
  font-family: 'Gochi Hand', sans-serif;
  transition: left .85s linear;
}



.nav ul {
  float: left;
  width: 100%;
}

.nav a,
.fa-bars,
.soc-media a {
  display: block;
  color:  #34675c;
  font-weight: bold;
  text-decoration: none;
  transition: background .35s;
}
.nav a:hover,
.fa-bars:hover,
.soc-media a:hover {
  background: #b7b8b6;
}
.nav a:active,
.fa-bars:active,
.soc-media a:active {
  background: #b7b8b6;
}

.nav a {
  padding: 1em .5em;
  width: 100%;
}

.fa-bars {
  position: absolute;
  left: 0em;
  padding: .25em 0;
  z-index: 99;
  width: 2em;
  background: #b3c100;
  text-align: center;
  transition: left .75s ease-in-out;
}
.fa-bars:hover {
  cursor: pointer;
}

[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked + label {
  left: 3em;
}
[type="checkbox"]:checked ~ nav {
  left: 0;
}

/*Social media*/
.soc-media {
  position: absolute;
  bottom: 5px;
}

.soc-media li {
  float: left;
}

.soc-media a {
  padding: .5em 0;
  width: 2em;
  font-weight: normal;
  text-align: center;
}

/*Page Wrapper*/
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #b3c100;
  
}

.wrapper > h1 {
  position: absolute;
  top: 45%;
  width: 100%;
  color:  #873370;
  font-size: 6em;
  text-align: center;
}


.overlay {
  width: 100%;
  height: 100%;
 background: rgba(255, 255, 255, 0.2);
	
}

/*Pages*/
section {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
/*z-index: 1;*/	
  overflow: hidden;
  transition: all .75s;
}
 
:target {
  width: 100%;
}

section .content {
  margin: 1em auto;
  max-width: 900px;
  width: 60%;
  color: #873370;
}

section h1,
section h2,
section h3 {
  margin-bottom: .5em;
  text-align: center;
}

section p {
  margin: .5em 0;
  font-family: 'Gochi Hand';
}

/*Home page*/
/*About page*/
.summary {
 background: #b3c100;	
  /*background: rgba(255, 255, 255, 0.75);*/
}

	
  /*.svg {
       position: relative;
       margin: 2em auto;
       width: 800px;
       height: 800px;
       background: url(./experiencedesigns.png) no-repeat center center;  
       border: 0.5em solid #177245;
       border-radius: 50%;
	overflow: scroll;  
    }
 /*  .svg .img-top,
    .svg .img-back {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .svg:hover .img-top {
       position: relative;
       margin: 2em auto;
       width: 800px;
       height: 800px;
       background: url(./experiencedesignson.png) no-repeat center center;  
       border: 0.5em solid #36454f;
       border-radius: 50%;    
    }
.svg:hover .img-back {
    position: relative;
       margin: 2em auto;
       width: 800px;
       height: 800px;
       background: url(./experiencedesigns.png) no-repeat center center;  
       border: 0.5em solid #36454f;
       border-radius: 50%;    
    }*/

    

.svg-container  {
  position: relative;	
  margin: 2em auto;
  width: 800px;
  height: 800px;
 /*8background: url(./experiencedesigns.svg) no-repeat center center;*/
border: 0.5em solid #873370;
  border-radius: 50%;
  overflow: hidden;
}



.svg-container a {
 display: block;	
 transition: background .35s;
}

.svg-container a:hover {
  position: relative;	
  margin: 2em auto;
  width: 800px;
  height: 800px;
background: url(./experiencedesignson.png) no-repeat center center;	
  border: 0.5em solid  #232b2b;
 border-radius: 50%;
  overflow: hidden;	
}

.svg-img {
  padding:0px;
  width:750px;
  height:750px;
  top:0;
  left:0;
  background-size:cover;
}

/*Experience page*/
.experience {
  background: #b3c100;
  /*background: rgba(255, 255, 255, 0.75);*/
}
	
	
	
.experience.row {
  float: left;
  margin-bottom: 1em;
  width: 100%;
}

.experience-box {
  float: left;
  margin: 0 3em;
  width: 100px;
  height: 100px;
}

.experience-box img {
  display: block;
  width: 100%;
}

/*Gallery page*/

.gallery {
  background: #b3c100;
}

.gallery.row {
  float: left;
  margin-bottom: 1em;
  width: 100%;
	
}

.gallery-box {
  float: left;
  margin: .3em;
  width: 100px;
height: 100px;
}

.gallery-box img {
 position: relative;	
 display: block;	
  width: 200px;
 height: 200px;
  overflow: hidden;
}

/*Contact page*/
.contact {
background: #b3c100;
  /*background: rgba(255, 255, 255, 0.75);*/
} 


@media only screen and (max-width:1200px){
	.layer .col{
		width:16.666%;
	}
	
}
@media only screen and (max-width:650px){
	.layer .col{
		width:25%;
	}
	
}

@media only screen and (max-width:300px){
	.layer .col{
		width:50%%;
	}
	
}
@media only screen and (max-width:350px){
	html {
        font: 8px 'Gochi Hand', serif;
	}

h1 {
  font-size: 1em;
}

h2 {
  font-size: .75m;
}

h3 {
  font-size: .5em;
}

p {
  font-size: .25em;
}
	
html,
body {
  width: 25%;
  height: 25%;
}	
}

